# Network Settings
NGINX_PORT=80
NGINX_SSL_PORT=443

# Project path on the host machine (Could be ./src or /home/user/Projects)
PROJECTS_ROOT_PATH=./src

# Generic local domain names
APP1_DOMAIN=app-legacy.test
APP2_DOMAIN=app-modern.test